.feeds {

}
.feed {

}
.feed__title {
    padding: 5px;
    font-size: var(--font-size-xs);
}

.feed__date {
    flex: 1;
    font-weight: 300;
    padding: 10px 15px;
    font-style: normal;
    border-radius: 100px;
    display: inline-block;
    font-size: var(--font-size-xs);
    background-color: var(--blue-darker);
}